<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/styles.css">
    <title>URL Shortener</title>
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
      
        <form action="/shorten" method="post">
          <label for="completeURL">Enter URL:</label>
          <input type="text" name="completeURL" id="completeURL" required>
          <button type="submit">Shorten</button>
        </form>
    
        <table>
          <thead>
            <tr>
              <th>Complete URL</th>
              <th>Short URL</th>
            </tr>
          </thead>
          <tbody>
         
             <% urls.forEach(url => { %>
              <tr>
                <td><a href="<%= url.completeURL %>" target="_blank"><%= url.completeURL %></a></td>
    
                <td><a href="<%= url.shortUrl %>" target="_blank"><%= url.shortUrl %></a></td>
              </tr>
            <% }); %>
    
          </tbody>
        </table>
      </div>
    </body>
    </html>
</body>
</html>